<header>
      <figure class="navi">SUPER SOLVRS</figure>
      <nav class="menu">
          <input type="checkbox" id="menuToggle">
          <label for="menuToggle" class="menu-icon"><i class="fa fa-bars"></i></label>
          <ul>
              <a href="index.html"><li>HOME</li></a>
              <a href="#game"><li>VR</li></a>
              <a href="#contact"><li>INSTRUCTIONS</li></a>
          </ul>
      </nav>
  </header>
<section class="hero">
<div class="content">
  <div class="header">
<img src="images/logo-supersolvers.png" width='150px' height='150px'>
    <br>
    <h4><b>Get Your VR On!</b></h4>
    <br>
    <figure class="btn"><a href="/tutorial">START GAME</a></figure>
    <br>
  </div>
</div>

</section>

<section id="game">
<div class="content">
  <h2>Instructions</h2>
  <p>Gummi bears icing wafer sweet roll sesame snaps. Jelly beans jelly cupcake jelly cake jelly-o dragée. Topping cake carrot cake. Marshmallow sweet chocolate bar. Cake gummies icing marzipan carrot cake. Pudding icing marzipan lemon drops cake danish. Candy chocolate gummies dragée. Donut ice cream gingerbread cupcake wafer pastry donut fruitcake pie. Wafer apple pie donut. Lollipop ice cream sweet roll jelly-o. Tootsie roll dragée sweet cake sugar plum. Halvah oat cake ice cream tiramisu liquorice pudding liquorice halvah. Carrot cake pie cheesecake dessert jelly beans.</p>
  <p>Gummi bears icing wafer sweet roll sesame snaps. Jelly beans jelly cupcake jelly cake jelly-o dragée. Topping cake carrot cake. Marshmallow sweet chocolate bar. Cake gummies icing marzipan carrot cake. Pudding icing marzipan lemon drops cake danish. Candy chocolate gummies dragée. Donut ice cream gingerbread cupcake wafer pastry donut fruitcake pie. Wafer apple pie donut. Lollipop ice cream sweet roll jelly-o. Tootsie roll dragée sweet cake sugar plum. Halvah oat cake ice cream tiramisu liquorice pudding liquorice halvah. Carrot cake pie cheesecake dessert jelly beans.</p>
  <p>Gummi bears icing wafer sweet roll sesame snaps. Jelly beans jelly cupcake jelly cake jelly-o dragée. Topping cake carrot cake. Marshmallow sweet chocolate bar. Cake gummies icing marzipan carrot cake. Pudding icing marzipan lemon drops cake danish. Candy chocolate gummies dragée. Donut ice cream gingerbread cupcake wafer pastry donut fruitcake pie. Wafer apple pie donut. Lollipop ice cream sweet roll jelly-o. Tootsie roll dragée sweet cake sugar plum. Halvah oat cake ice cream tiramisu liquorice pudding liquorice halvah. Carrot cake pie cheesecake dessert jelly beans.</p>

</div>
</section>

<section id="contact">
<div class="content">
  <h2>VR Warnings</h2>
  <p>Muffin pie sweet bonbon. Pie danish ice cream pudding gummies lollipop. Cheesecake pastry jelly beans sugar plum donut cheesecake. Dessert muffin liquorice. Jelly beans halvah wafer wafer gummi bears sweet halvah. Donut cake croissant ice cream. Bonbon toffee sesame snaps sugar plum. Cake apple pie oat cake tart sweet cookie pudding sesame snaps. Lollipop toffee chocolate bear claw sweet macaroon. Lemon drops marshmallow apple pie chupa chups chocolate bar cupcake icing ice cream. Liquorice liquorice fruitcake cotton candy sweet roll dragée tiramisu powder muffin. Gummi bears bonbon cupcake pudding sweet roll dessert soufflé.</p>
  <p>Gummi bears icing wafer sweet roll sesame snaps. Jelly beans jelly cupcake jelly cake jelly-o dragée. Topping cake carrot cake. Marshmallow sweet chocolate bar. Cake gummies icing marzipan carrot cake. Pudding icing marzipan lemon drops cake danish. Candy chocolate gummies dragée. Donut ice cream gingerbread cupcake wafer pastry donut fruitcake pie. Wafer apple pie donut. Lollipop ice cream sweet roll jelly-o. Tootsie roll dragée sweet cake sugar plum. Halvah oat cake ice cream tiramisu liquorice pudding liquorice halvah. Carrot cake pie cheesecake dessert jelly beans.</p>
  <p>Gummi bears icing wafer sweet roll sesame snaps. Jelly beans jelly cupcake jelly cake jelly-o dragée. Topping cake carrot cake. Marshmallow sweet chocolate bar. Cake gummies icing marzipan carrot cake. Pudding icing marzipan lemon drops cake danish. Candy chocolate gummies dragée. Donut ice cream gingerbread cupcake wafer pastry donut fruitcake pie. Wafer apple pie donut. Lollipop ice cream sweet roll jelly-o. Tootsie roll dragée sweet cake sugar plum. Halvah oat cake ice cream tiramisu liquorice pudding liquorice halvah. Carrot cake pie cheesecake dessert jelly beans.</p>

</div>
</section>

<section id="footer">
<div class="content">
<center>Made with <i class="fa fa-heart" aria-hidden="true"></i> by SUPER SOLVERS</center>
</div>
</section>
 <script src="js/index.js"></script>
