<header>
  <div class='mobile-nav'>
      <h1>Super SolVRs</h1>
  </div>
	<img class='logo' src="assets/Squirrel_logo.png">
	<div class="play"><a href="/tutorial"><h2>Start!</h2></a></div>
</header>

